<!-- resources/js/components/ChatBoxComponent.vue -->
<template>
    <div class="page-content page-container" id="page-content">
        <div v-if="users" class="ps-container ps-theme-default ps-active-y" id="chat-content" style="overflow-y: scroll !important; height:400px !important;">
                            
            <dl v-for="message in messages" :key="message.id">

                <dt v-if="message.id">
                    <div class="media media-chat" v-if="curent != message.senderId"> 
                        <img class="avatar" :src="findSender(message.senderId).photo"> &nbsp; {{ findSender(message.senderId).name }}
                        <div class="media-body">
                            <p>{{ message.text }}</p>
                            <p class="meta"><time>{{ formatTime(message.timestamp) }}</time></p>
                        </div>
                    </div>

                    <div class="media media-chat media-chat-reverse" v-if="curent == message.senderId">
                        <div class="media-body">
                            <p>{{ message.text }}</p>
                            <p class="meta"><time>{{ formatTime(message.timestamp) }}</time></p>
                        </div>
                    </div>
                </dt>

            </dl>

            <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
            </div>
            <div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;">
                <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;"></div>
            </div>
        </div>
        <div class="publisher bt-1 border-light"> 
            <img class="avatar avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="..."> 
            <input class="publisher-input" type="text" placeholder="Write something" v-model="message" @keyup.enter="sendMessage" >
            <a @click="sendMessage" class="publisher-btn text-info" href="#" data-abc="true"><i class="fa fa-paper-plane"></i></a> 
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import moment from 'moment';
import Chatkit from '@pusher/chatkit-client';
export default {
    props: {
        roomId: String, 
        userId: String,
        userImage: String,
        initialMessages: Array,
    },
    data () {
        return {
            currentUser: null,
            message: '',
            messages: this.initialMessages,
            users: null,
            curent: this.userId,
            image: this.userImage
        }
    },
    methods: {
        connectToChatkit() {
            const tokenProvider = new Chatkit.TokenProvider({
                url: `${process.env.MIX_APP_URL}/api/chatkit/authenticate`,
            });
            const chatManager = new Chatkit.ChatManager({
                instanceLocator: process.env.MIX_CHATKIT_INSTANCE_LOCATOR,
                userId: this.userId,
                tokenProvider,
            });
            chatManager.connect()
                .then(user => {
                    this.currentUser = user;
                    this.subscribeToRoom();
                    console.log('Connected Successfully')
                })
                .catch(error => {
                        console.log('Error on connection', error)
                })
        },
        subscribeToRoom() {
            this.currentUser.subscribeToRoomMultipart({
                roomId: this.roomId,
                hooks: {
                    onMessage: message => {
                        this.messages.push({
                            id: message.id,
                            senderId: message.senderId,
                            text: message['parts'][0]['payload']['content'],
                            timestamp: message.createdAt
                        })
                    },
                    onUserJoined: async user => {
                        await this.getUsers()
                        this.messages.push({
                            text: `${user.name} joined ${this.formatTime(user.created_at)}`
                        })
                    },
                },
                messageLimit: 0
            })
        },
        getUsers() {
            axios.get(`${process.env.MIX_APP_URL}/api/chatkit/users`)
                .then(res => {
                    this.users = res['data']['body']
                }); 
        },
        sendMessage() {
            if (this.message.trim() === '') return;
            axios.post( `${process.env.MIX_APP_URL}/api/chatkit/message`, {
                user: this.userId,
                message: this.message
            })
            .then(message => {
                this.message = ''
            });
        },
        findSender(senderId){
            const sender = this.users.find(user => senderId == user.id);
            return sender
        },
        formatTime(timestamp) {
            return moment(timestamp).fromNow();
        },
    },
    created () {
        this.getUsers();
        this.connectToChatkit();
    },
};
</script>
<style>
#chatbox {
    text-align: left;
    max-height: 400px;
    overflow-y: scroll;
}
</style>